body {
    font-family: Arial, sans-serif;
    background-color: white;  /* 변경된 부분 */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 210mm;
    height: 297mm;
    margin: auto;
    padding: 20mm;
    box-sizing: border-box;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.section {
    margin-bottom: 20px;
}

.signature-pad {
    border: 1px solid black;
    width: 100%;
    height: 100px; /* 서명란 높이 고정 */
    position: relative;
}

.signature-pad img {
    width: 100%;
    height: 100%; /* 이미지가 서명란 크기에 맞추어 표시되도록 조정 */
}

.wide-input {
    width: calc(100% - 16px);
    padding: 8px;
    margin: 8px 0;
}

.signature-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1); /* 투명도를 더 낮게 설정 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
